{{ if (and (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.arch "amd64")) -}}

#!/bin/bash

set -e

sudo apt update
sudo apt install -y \
{{ range .packages.ubuntu.apt -}}
  {{ . | quote }} \
{{ end -}}


{{ range .packages.ubuntu.appImage -}}
   wget -P {{ .path | quote }} {{ .location | quote }} -O {{ .name | quote }}
{{ end -}}

{{ end -}}

