{{ if (and (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.arch "amd64")) -}}

#!/bin/bash

set -e

sudo apt update
sudo apt install -y \
{{ range .packages.ubuntu.apt -}}
  {{ . | quote }} \
{{ end -}}


{{ range .packages.ubuntu.appImage -}}
   wget {{ .location | quote }} {{- print "-O" }} {{ .name | quote }}
   mv {{ .name | quote }} {{ .path | quote }}/{{ .name | quote }}
   chmod +x {{ .path | quote }}/{{ .name | quote }}
{{ end -}}

{{ end -}}

