{{ if (and (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.arch "amd64")) -}}

#!/bin/bash

set -e

echo "Installing packages for Ubuntu..."

sudo apt update
sudo apt install -y \
{{ range .packages.ubuntu.apt -}}
  {{ . | quote }} \
{{ end -}}

echo "Installing packages for Ubuntu using bash"

{{ range .packages.ubuntu.bash -}}
   {{ . }}
{{ end -}}

echo "Installing packages for Ubuntu using AppImage"

{{ range .packages.ubuntu.appImage -}}
   wget -P {{ .path | quote }} {{ .location | quote }} -O {{ .name | quote }}
{{ end -}}

{{ end -}}

